#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: alcoymbra # Change me  (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCgFvGae6hFV5AjQ+rNKlXwhzLLfiyn1fpsPxw8Ts3yhSUp4NivhJsEYvq/P7MUNZez9xYNQKvFqh4/xLZN9us97Dvet8aobQxa/ll7HWBpef07j8NMJdoh2n5d6XblaYzSFLD8NRehd8cwLgzM3+pkKvHby/TOods0Uj803RBoHplkZBTH7x4KmpWZK6rs8Ntkh6S7s1eos95IR/jHrEv71Em21yZhax21HzJdK+26ICKWm0TiT/aBy76igw6y8T8nCVTYjImY8e3EeYPqglV/ckadWxR9diDvzDVRNArPOkQ60EBhVvERoJUBp9MmxQqt6KUMKq9T5E037BqVjNgRI7seMVAmlKOoqD6iVovm11Z6jQxMpi94rCfZVCleaR6CQIO18XphMksk8xpmvVyjechL/Jl1byi5AARaoeynrAP41FF/9QtnCD9s5tpasjkJuAYF7mr+ZYWPVYib9DOVRcjpybEzQpLDRP47zoBIrT5MdZiEXJUnckscs4z4d2s= alivan@alcoymbra
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
